<div id="wrap">
  <div class="content">
    <div class="main_center">
      <section class="about cleafix">
      <h2>About</h2>
        <div class="about_text">
          <p><strong>どっちを着ようか決められない・・
          <br>どっちの方が素敵に見えるかな？？
          </strong><br>
          <br>そんなお悩みありませんか？
          <br>
          <br>当サイトはそんなお悩みの方のための
          <br>お助けアプリケーションです。
          <br>
          <br>2枚のコーディネート写真を投稿し
          <br>どっちがいいかみんなに投票してもらいましょう！
          </p>
        </div>
      <br><h3>サイトのご利用方法について</h3>
        <div class="step">
          <p>当サイトは会員登録者のみご利用が可能です。(無料）
          <br>トップページのヘッダーにある「新規会員登録」をクリックし、
          <br>情報入力画面に従い必要項目を入力してください。
          <br>登録完了後、ログイン画面よりお進み下さい。
          </p>
        </div>
    </div>
  </div>
</div>