.image li {
  float: left;
  margin: 0 20px;
}

.menu li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
 }

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.ul .image .fa {
  font-size: 16px;
  margin-right: 3px;
}

li {
  list-style: none;
}

.about {
  text-align: center;
}

h2 {
  text-align: center;
}